function Stack.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
call ArraysString.new 1
pop this 0
push constant 0
pop this 1
push pointer 0
return
function Stack.push 0
push argument 0
pop pointer 0
push this 0
push this 1
push argument 1
call ArraysString.add 3
pop temp 0
push this 1
push constant 1
add
pop this 1
push constant 0
return
function Stack.pop 1
push argument 0
pop pointer 0
push pointer 0
call Stack.isEmpty 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
return
label IF_FALSE0
push this 0
push this 1
push constant 1
sub
call ArraysString.get 2
pop local 0
push this 0
push this 1
push constant 1
sub
push constant 0
call ArraysString.add 3
pop temp 0
push this 1
push constant 1
sub
pop this 1
push local 0
return
function Stack.isEmpty 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
return
function Stack.size 0
push argument 0
pop pointer 0
push this 1
return
function Stack.peek 0
push argument 0
pop pointer 0
push pointer 0
call Stack.isEmpty 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
return
label IF_FALSE0
push this 0
push this 1
push constant 1
sub
call ArraysString.get 2
return
function Stack.isFull 0
push argument 0
pop pointer 0
push this 1
push this 0
call ArraysString.size 1
eq
return
